{% block content %}
  <form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
 
    <div class="row">
        <div class="col-md-6 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>Import Excel Data into Database</h2>           
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-8 col-sm-12 col-xs-12 form-group">      
              </div>
                    <input type="file" name="myfile" class="form-control">
                             <button type="submit" class="btn btn-success" >Upload data using Pandas</button> 
                             </form>  
                             
                             
  <table border="1" >
    
    <tr>
      <th>year</th>
      <th>jan</th>
      <th>feb</th>
      <th>mar</th>
      <th>apr</th>
      <th>may</th>
      <th>jun</th>
      <th>jul</th>
      <th>aug</th>
      <th>sep</th>
      <th>oct</th>
      <th>nov</th>
      <th>dec</th>
      <th>win</th>
      <th>spr</th>
      <th>sum</th>
      <th>aut</th>
      <th>ann</th>
    </tr>
    {% for item in query_res %}
    <tr>
      <td>{{item.year}}</td>
      <td>{{item.jan}}</td>
      <td>{{item.feb}}</td>
      <td>{{item.mar}}</td>
      <td>{{item.apr}}</td>
      <td>{{item.may}}</td>
      <td>{{item.jun}}</td>
      <td>{{item.jul}}</td>
      <td>{{item.aug}}</td>
      <td>{{item.sep}}</td>
      <td>{{item.oct}}</td>
      <td>{{item.nov}}</td>
      <td>{{item.dec}}</td>
      <td>{{item.win}}</td>
      <td>{{item.spr}}</td>
      <td>{{item.sum}}</td>
      <td>{{item.aut}}</td>
      <td>{{item.ann}}</td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
                            </div>
                        </div>
                    </div>
                </div>
  